<template>
  <section class="comments-container l-container">
    <h3>Comment</h3>
    <div
      class="comment-box-container"
      v-for="comment in comments"
      :key="comment.id"
    >
      <p>{{ comment.content }}</p>
      <span>{{ postedDate(comment.createdAt) }}</span>
    </div>
  </section>
</template>

<script>
import { formatDateFromNow } from '../../common/utility.js';
export default {
  props: ['comments'],
  methods: {
    postedDate(date) {
      return formatDateFromNow(date);
    },
  },
};
</script>
<style lang="scss" scoped>
.comments-container h3 {
  font-family: $page-font-family-secondary;
  font-size: $pc-font-semi-l;
  font-weight: bolder;
  margin-top: 53px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.comment-box-container {
  background: $base-background-color-accent;
  max-height: 265px;
  box-sizing: border-box;
  padding: 52px 40px;
  margin-top: 30px;
  margin-bottom: 50px ;
}

.comment-box-container {
  p {
    font-family: $page-font-family-primary;
    font-size: $pc-font-s;
    line-height: 2.2em;
    margin-bottom: 25px;
  }

  span {
    font-size: $pc-font-xs;
    font-weight: bolder;
  }
}
</style>
