<template>
  <div class="comment-form l-container">
    <form @submit.prevent="submitForm">
      <div class="form-control">
        <textarea
          :class="{invalid: !comment.isValid}"
          name="comment"
          id="comment"
          v-model.trim="comment.value"
          @blur="clearValidity('comment')"
          cols="30"
          rows="10"
          class="comment-area"
          placeholder="Write Comment"
        ></textarea>
        <small v-if="!comment.isValid" class="error-message">Please enter your comment.</small>
      </div>
      <div class="comment-btn-wrapper">
        <base-button mode="btn-primary">Submit</base-button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  emits: ['save-comment'],
  props: ['id'],
  data() {
    return {
      comment: {
        value: '',
        isValid: true,
      },
      formIsValid: true,
    };
  },
  methods: {
    resetForm(input) {
      this[input].value = '';
      this[input].isValid = true;
    },
    clearValidity(input) {
      this[input].isValid = true;
    },
    validateForm() {
      this.formIsValid = true;
      if (this.comment.value === '') {
        this.comment.isValid = false;
        this.formIsValid = false;
      }
    },
    submitForm() {
      this.validateForm();
      if (!this.formIsValid) {
        return;
      }

      const formData = {
        comment: this.comment.value,
      };

      this.$emit('save-comment', formData);
      this.resetForm('comment');
    }
  },
};
</script>

<style lang="scss" scoped>
.comment-form {
  margin-top: 30px;
  margin-bottom: 150px;
}

.comment-area {
  width: 100%;
  font-family: $page-font-family-secondary;
  font-size: $pc-font-s;
  font-style: italic;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid $base-font-color;
  padding: 43px 40px;
  letter-spacing: 0.12em;
  height: 200px;
  margin-bottom: 35px;
  clear:both;
  &:focus {
    outline: none;
  }
}

.comment-btn-wrapper {
  width: 210px;
  height: 70px;
  float: right;
  margin-bottom: 150px;
}

.invalid {
  border: 1px solid $color-invalid;
}

.error-message {
  color: $color-invalid;
}
</style>

