<template>
  <div class="card">
    <slot></slot>
  </div>
</template>
<style lang="scss" scoped>
.card {
  width: 280px;
  height: 200px;
  margin: 38px auto 25px;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}
</style>
