<template>
  <button v-if="!link && !switchLink" :class="mode">
    <slot></slot>
  </button>
  <a v-else-if="switchLink" :class="mode">
    <slot></slot>
  </a>
  <router-link v-else :to="to" :class="mode">
    <slot></slot>
  </router-link>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      required: false,
      default: null,
    },
    link: {
      type: Boolean,
      required: false,
      default: null,
    },
    switchLink: {
      type: Boolean,
      required: false,
      default: null,
    },
    to: {
      type: String,
      required: false,
      default: null,
    },
  },
};
</script>
<style lang="scss" scoped>
button {
  background-color: transparent;
  border: none;
  color: $base-font-color-secondary;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.btn-primary {
  width: 100%;
  height: 70px;
  color: $base-font-color-secondary;
  background: $base-background-color-secondary;
  text-transform: uppercase;
  font-family: $page-font-family-secondary;
  font-size: $pc-font-semi-m;
  letter-spacing: 0.08em;
}

.btn-secondary {
  color: $base-font-color;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $page-font-family-secondary;
}
.btn-link {
  color: $base-font-color;
  cursor: pointer;
  text-decoration: underline;
  font-size: $pc-font-semi-m;
  font-weight: 700;
  font-family: $page-font-family-secondary;
  letter-spacing: 0.089em;
}
</style>
