<template>
  <div class="breadcrumbs">
    <ul class="l-container">
      <slot></slot>
    </ul>
  </div>
</template>
<style lang="scss">
.breadcrumbs {
  width: 100%;
  height: 80px;
  background-color: $base-background-color-accent;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  font-family: $page-font-family-primary-light;
  font-size: $pc-font-xs;
  font-weight: bold;
  letter-spacing: 0.19em;
  line-height: 1.5;
}

.breadcrumbs li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: $base-font-color;
}

.breadcrumbs ul > li + li:before {
  padding: 8px;
  color: $base-font-color;
  content: '>\00a0';
}

.breadcrumbs ul {
  padding: 0;
  list-style-type: none;
}

.breadcrumbs li {
  display: inline;
}
</style>
