<template>
  <div
    v-if="sliderData"
    :style="animate ? { opacity: '1' } : ''"
    class="slider-container l-container-large"
    :class="{slideContentRight: animateRight, slideContentLeft: animateLeft}"
  >
   <router-link :to="newsDetailLink">
    <img class="slider-bg" :src="thumbnail" alt="slider image" />
    <div class="slider-text-content">
      <p class="slider-news--title">
        <span class="slider-news-text--highlight">{{ title }}</span>
        <span class="slider-news-publish-date">{{ publicationDate }}</span>
      </p>
    </div>
     </router-link>
    <div class="arrows">
      <button class="arrow arrow--left" @click="prev"></button>
      <button class="arrow arrow--right" @click="next"></button>
    </div>
    <div class="slider-ellipses">
      <ul>
        <li v-for="(newsArticle, index) in sliderData" :key="newsArticle.id">
          <a
            @click="setActiveAnimate(index, direction)"
            :class="
              index === activeIndex ? 'slider-ellipses--active' : ''
            "
          ></a>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import {formatDate} from '../../common/utility.js'
export default {
  props: ['sliderData'],
  data() {
    return {
      activeIndex: 0,
      direction: "",
      animate: false,
      animateLeft: false,
      animateRight:false,
      animateDirection: '',
    };
  },
  computed: {
     newsDetailLink() {
      return '/news/' + this.id;
    },
    id() {
       return this.sliderData[this.activeIndex].id;
    },
    thumbnail() {
      return this.sliderData && this.sliderData[this.activeIndex].image;
    },
    publicationDate() {
      this.animate = true;
      return formatDate(this.sliderData[this.activeIndex].createdAt);
    },
    title() {
      return this.sliderData[this.activeIndex].title;
    }
  },
  methods: {
    
    next() {
      if (this.sliderData.length - 1 > this.activeIndex) {
        this.setActiveAnimate(this.activeIndex + 1, 'next');
      } else {
        this.setActiveAnimate(0, 'next');
      }
    },
    prev() {
      if (this.activeIndex > 0) {
        this.setActiveAnimate(this.activeIndex - 1, 'prev');
      } else {
        this.setActiveAnimate(this.sliderData.length - 1, 'prev');
      }
    },
    setActive(index) {
      this.activeIndex = index;
    },
    setActiveAnimate(index, direction) {
      if (direction === "next") {
        this.animateLeft= true;
      } else if(direction === "" && index < this.activeIndex) {
        this.animateLeft= true;
      } else {
        this.animateRight= true;
      }
       setTimeout(() => {
         this.animateLeft= false;
         this.animateRight= false;
          this.setActive(index);
      }, 500);
    },
  },
};
</script>
<style lang="scss" scoped>
.slider-container {
  background: #fff;
  width: 100%;
  height: 666px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transition-timing-function: linear;
  opacity: 1;
}

.slideContentRight {
  animation: slideRight ease-in-out 0.5s;
  -webkit-animation: slideRight ease-in-out 0.5s;
  -moz-animation: slideRight ease-in-out 0.5s;
  -o-animation: slideRight ease-in-out 0.5s;
  -ms-animation: slideRight ease-in-out 0.5s;
}
.slideContentLeft {
  animation: slideLeft ease-in-out 0.5s;
  -webkit-animation: slideLeft ease-in-out 0.5s;
  -moz-animation: slideLeft ease-in-out 0.5s;
  -o-animation: slideLeft ease-in-out 0.5s;
  -ms-animation: slideLeft ease-in-out 0.5s;
}

.slider-container img {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  max-width: 100%;
}

.slider-container:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(245, 246, 252, 0.52),
    rgba(49, 42, 47, 0.73)
  );
}

.arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.arrow {
  width: 20px;
  height: 30px;
  cursor: pointer;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  &--left {
    background: url('../../assets/images/arrow-left.png') no-repeat;
    left: 6%;
    &:hover {
      opacity: 0.7;
      transition: all 0.2s ease-in;
    }
  }
  &--right {
    background: url('../../assets/images/arrow-right.png') no-repeat;
    right: 6%;
    &:hover {
      opacity: 0.7;
      transition: all 0.2s ease-in;
    }
  }
}
.slider-ellipses {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.slider-ellipses ul {
  list-style-type: none;
}

.slider-ellipses li {
  display: inline-block;
  margin-right: 10px;
}

a.slider-ellipses--active {
  background-color: #101010 !important;
}

.slider-ellipses a {
  height: 15px;
  width: 15px;
  background-color: $base-font-color-secondary;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  &:hover {
    width: 10px;
    height: 10px;
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.356);
    transition: all 0.2s ease-in-out;
  }
}

.slider-text-content {
  height: 50px;
  width: 100%;
  position: absolute;
  text-align: right;
  right: 7%;
  top: 25%;
}

.slider-news--title {
  font-family: $page-font-family-primary;
  font-size: $pc-font-l;
  color: $base-font-color-secondary;
  width: 50%;
  position: absolute;
  right: 3%;
  top: -30px;
  line-height: 1.7;
  margin-top: 10px;
}

.slider-news--title > .slider-news-text--highlight {
  background-color: $base-background-color-secondary;
  line-height: 1;
}

.slider-news-publish-date {
  font-family: $page-font-family-secondary;
  font-size: 28px;
  font-weight: 400;
  color: $base-font-color;
  display: block;
  letter-spacing: 0.2em;
}

@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-1000px);
    // transition: all 0.2s ease-in;
  }
  100% {
    transform: skew(0deg);
    // transition: all 0.2s ease-in;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-1000px);
    //  transition: all 0.2s ease-in;
  }
  100% {
    transform: skew(0deg);
    //  transition: all 0.2s ease-in;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(100vw);
    transition: all 0.2s ease-in;
  }
  100% {
    transform: skew(0deg);
    transition: all 0.2s ease-in;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100vw);
    transition: all 0.2s ease-in;
  }
  100% {
    transform: skew(0deg);
    transition: all 0.2s ease-in;
  }
}

@media (max-width: 768px) {
  .slider-news--title {
  font-size: $sp-font-xl;
  }
  .slider-container img {
    height: 100%;
  }
}
</style>
