<template>
  <p :class="className"><slot></slot></p>
</template>
<script>
export default {
  props: {
    mode: {
      type: Boolean,
    },
  },
  computed: {
    className() {
      return this.mode ? "error" : "success";
    }
  }
};
</script>
<style lang="scss" scoped>
.error {
  padding: 10px;
  border: 1px solid $color-invalid;
  color: $color-invalid;
  border-radius: 5px;
  background-color: #f3dbdb;
  margin-bottom: 10px;
}

.success {
  padding: 10px;
  border: 1px solid green;
  color: green;
  border-radius: 5px;
  background-color: rgb(212, 247, 212);
  margin-bottom: 10px;
}
</style>