<template>
  <footer>
    <div class="footer-content l-container">
      <img
        src="../../assets/images/logo-white.png"
        alt="Logo White"
        class="footer-logo"
      />
      <div class="footer-content--sub">
        <p class="footer-text">
          サンプルテキストサンプル
          ルテキストサンプルテキストサンプルテキストサンプル ルテキスト
        </p>
        <a @click="scrollToTop" class="footer-scroll-top-btn">
          <div class="footer-square-btn-bg">
            <img
              class="footer-scrolltop-img"
              src="../../assets/images/arrow-top.png"
              alt="scroll-top-image"
            />
            <span>Top</span>
          </div>
        </a>
      </div>
    </div>
    <div class="footer-content--bottom">
      <span>Copyright©2007-{{ new Date().getFullYear() }} Blog Inc.</span>
    </div>
  </footer>
</template>
<script>
export default {
  methods: {
    scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    },
  },
};
</script>
<style lang="scss">
footer {
  height: 363px;
  box-sizing: border-box;
  background-color: #292929;
  width: 100%;
  min-width: 1366px;
  position: relative;
}

.footer-logo {
  height: 28px;
  margin-bottom: 43px;
  margin-top: 80px;
}

.footer-content {
  box-sizing: border-box;
  display: block;
}

.footer-content--sub {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-family: $page-font-family-primary-medium;
  display: block;
  color: $base-font-color-secondary;
  width: 420px;
  font-size: $base-font-size;
  line-height: 1.8;
}
.footer-content--bottom {
  color: $base-font-color-secondary;
  width: 100%;
  height: 90px;
  background-color: $base-background-color-secondary;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-top: 50px;
}

.footer-content--bottom span {
  position: relative;
  top: 40%;
  font-size: $base-font-size;
  letter-spacing: 0.09em;
}

.footer-scroll-top-btn {
  text-align: center;
  position: relative;
  top: 50px;
}

.footer-scroll-top-btn:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(136, 136, 136, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  transition: opacity 0.2s ease-in;
  opacity: 0.7;
}

.footer-scroll-top-btn span {
  display: block;
  position: absolute;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: #101010;
  bottom: 8px;
  left: 18px;
  font-family: $page-font-family-secondary;
}

.footer-square-btn-bg img {
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 25px;
  top: 18px;
}

.footer-square-btn-bg {
  width: 70px;
  height: 70px;
  background-color: $base-background-color;
}
</style>
