<template>
  <header class="header l-container-large">
    <nav class="header-inner l-container">
      <div class="header-logo">
        <router-link to="/">
          <img src="../../assets/images/logo.png" alt="" />
        </router-link>
      </div>
      <ul>
        <li v-if="!isLoggedIn" >
          <button class="nav-item" @click="toggleAuthForm">{{headerNavText}}</button>
        </li>
        <li v-else>
          <button class="nav-item" @click="logout">Logout</button>
        </li>
      </ul>
    </nav>
  </header>
</template>
<script>
export default {
  data() {
    return {
      headerNavText: 'Login'
    }
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    }
  },
  methods: {
    toggleAuthForm() {
      this.$store.dispatch('toggleAuthForm');
      const isToggleAuthForm = this.$store.getters.isToggleAuthForm;
      this.headerNavText = isToggleAuthForm ? 'Close' : 'Login';
    },
    logout() {
      this.$store.dispatch('logout');
      this.$router.replace('/top');
      this.headerNavText= 'Login';
      location.reload();
    }
  }
}
</script>
<style lang="scss">
.header {
  font-family: $page-font-family-secondary;
  height: 100px;
}
.header-logo {
  margin-top: -8px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 43px 0;
}

.nav-item {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.22em;
  cursor: pointer;
  font-size: $pc-font-xs;
}
</style>
