<template>
  <div>
    <base-dialog :show="!!error" title="An error occured!" @close="handleError">
      <p>{{ error }}</p>
    </base-dialog>
    <section
      class="slider-section"
      :style="isToggleAuthForm ? { display: 'none' } : ' '"
    >
      <news-slider :sliderData="sliderInfo"></news-slider>
    </section>
    <section class="news l-container">
      <div class="news-header">
        <h2 class="section-title">News</h2>
        <base-button v-show="isLoggedIn" link mode="btn-link" to="/news/add"
          >Create New Post</base-button
        >
      </div>
      <ul class="news-wrapper" v-if="hasNews">
        <news-item
          v-for="news in posts"
          :key="news.id"
          :id="news.id"
          :thumbnail="news.image"
          :title="news.title"
          :publishDate="news.createdAt"
        >
        </news-item>
      </ul>
      <div class="news-btn--wrapper">
        <base-button v-if="!loaded" mode="btn-primary" @click="loadMore"
          >Load More</base-button
        >
      </div>
    </section>
  </div>
</template>
<script>
import NewsSlider from './../../components/news/NewsSlider.vue';
import NewsItem from './../../components/news/NewsItem.vue';
import { useQuery, useResult } from '@vue/apollo-composable';
import allPostQuery from '../../graphql/allPost.query.gql';
import { ref } from 'vue';
export default {
  components: { NewsSlider, NewsItem },
  data() {
    return {
      loaded: false,
      error: null,
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    },
    hasNews() {
      return this.$store.getters['news/hasNews'];
    },
    isToggleAuthForm() {
      return this.$store.getters['isToggleAuthForm'];
    },
  },
  setup() {
    const fetchPolicy = ref('cache-and-network');
    const postsQuery = useQuery(allPostQuery, () => ({
      offset: 3,
      limit: 6,
      fetchPolicy: fetchPolicy.value,
    }));
    const sliderQuery = useQuery(allPostQuery, () => ({
      offset: 0,
      limit: 3,
      fetchPolicy: fetchPolicy.value,
    }));

    const loaded = ref(false);
    function loadMore() {
      postsQuery.fetchMore({
        variables: {
          offset: postsQuery.result.value.posts.length,
        },
        updateQuery: (previousResult, { fetchMoreResult }) => {
          // No new feed posts
          loaded.value = fetchMoreResult.posts.length < 6;
          if (!fetchMoreResult) return previousResult;

          // Concat previous feed with new feed posts
          return {
            ...previousResult,
            posts: [...previousResult.posts, ...fetchMoreResult.posts],
          };
        },
      });
    }
    const posts = useResult(postsQuery.result, null, (data) => data.posts);
    const sliderInfo = useResult(
      sliderQuery.result,
      null,
      (data) => data.posts
    );
    const refetch = postsQuery.refetch();
    const refetchSliderInfo = sliderQuery.refetch();
    return {
      posts,
      sliderInfo,
      loadMore,
      loaded,
      refetch,
      refetchSliderInfo
    };
  },
  methods: {
    handleError() {
      this.error = null;
    },
  },
};
</script>

<style lang="scss" scoped>
.news-header {
  display: flex;
  justify-content: space-between;
}
.news h2 {
  font-size: $pc-font-semi-l;
  text-transform: uppercase;
  font-family: $page-font-family-secondary;
  letter-spacing: 0.1em;
}
.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-box-pack: start;
  justify-content: flex-start;
  list-style-type: none;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
  margin-top: 57px;
}

.news-btn--wrapper {
  width: 340px;
  height: 70px;
  text-align: center;
  margin: 10px auto 150px;
}

.slider-section {
  background-color: $base-background-color-secondary;
  height: 658px;
  max-height: 658px;
  margin-bottom: 100px;
  display: block;
  -webkit-transition: display 0.2s ease-in;
  transition: display 0.2s ease-in;
}
</style>
