<template>
  <router-link :to="newsDetailLink" class="news-item">
    <li>
      <base-card>
        <div class="news-thumbnail">
          <img v-if="thumbnail" :src="thumbnail" />
          <img v-else src="../../assets/images/no-thumbnail.png" alt="">
        </div>
        <div class="news-details">
          <span class="news-publish-date">{{ formattedDate }}</span>
          <p class="news-title">{{ title }}</p>
        </div>
      </base-card>
    </li>
  </router-link>
</template>

<script>
import { formatDate } from '../../common/utility.js';
export default {
  props: ['id', 'thumbnail', 'title', 'publishDate'],
  computed: {
    newsDetailLink() {
      return '/news/' + this.id;
    },
    formattedDate() {
      return formatDate(this.publishDate);
    },
  },
};
</script>

<style lang="scss" scoped>
.news-item {
  width: 340px;
  height: 430px;
  margin-bottom: 62px;
  border: 1px solid $base-background-color-secondary;
  text-align: center;
  cursor: pointer;
  color: $base-font-color;
 
  &:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.185),
      0 15px 12px rgba(0, 0, 0, 0.164);
    transition: all 0.5s ease-in-out;
  }
}

.news-thumbnail {
  width: 100%;
  height: 200px;
}

.news-details {
  text-align: left;
  width: 280px;
  margin: 23px auto 0;
}

.news-thumbnail img {
  width: 100%;
  height: 100%;
}

.news-publish-date {
  font-size: $pc-font-s;
  font-family: $page-font-family-secondary;
  font-weight: bold;
  display: block;
  letter-spacing: 0.01em;
}

.news-title {
  display: block;
  font-family: $page-font-family-primary-medium;
  font-size: 20px;
  margin: 5px 0 5px 0;
}
@media (max-width: 768px) {
  .news-thumbnail,
  .news-details {
    width: 100%;
  }
}
</style>
