.l-container-large {
  min-width: 1366px;

  @media screen and (max-width: 1280px) {
    .l-container-large {
      min-width: 1179px;
    }
  }
}

.l-container {
  width: 1120px;
  margin: 0 auto;
  @media screen and (max-width: 1280px) {
    .l-container {
      width: auto;
      min-width: 1179px;
    }
  }
}

@media screen and (max-width: 767px) {
  .l-container-large {
    min-width: 100%;
  }

  .l-container {
      width: 100%;
      min-width: 320px;
  }
}
