<template>
  <div v-if="post || mode === 'add'">
    <base-breadcrumbs>
      <li><router-link to="/">Home</router-link></li>
      <li v-if="mode === 'add'">Create New Post</li>
      <li v-else>{{ this.newsFormObject.title.value }}</li>
    </base-breadcrumbs>
    <base-dialog :show="!!cancelForm" title="Cancel">
      <p>Discard following changes?</p>
      <div class="news-form-dialog-btn-grp">
        <div class="btn-ok-wrapper">
          <base-button
            class="news-form-btn"
            mode="btn-primary"
            @click="this.$router.replace('/top')"
            >OK</base-button
          >
        </div>
        <base-button
          class="news-form-btn news-form-btn--cancel"
          type="button"
          mode="btn-secondary"
          :switchLink="true"
          @click="cancelDiscard"
          >Cancel</base-button
        >
      </div>
    </base-dialog>
    <form class="l-container news-form">
      <div class="news-form-btn-group">
        <base-button
          class="news-btn news-btn--save"
          mode="btn-link"
          type="button"
          @click="savePost"
          >Save Post</base-button
        >
        <base-button
          type="button"
          @click="cancelPost"
          class="news-btn news-btn--cancel"
          mode="btn-link"
          >Cancel</base-button
        >
      </div>
      <div class="news-input-field">
        <input
          class="news-form-publish-date"
          type="text"
          :value="this.publishDate"
          readonly
        />
      </div>
      <div class="news-input-field">
        <input
          type="text"
          class="news-form-title"
          name="title"
          id="title"
          required
          v-model.trim="newsFormObject.title.value"
          @change="inputHandler"
          :class="{ invalid: newsFormObject.title.hasError }"
        />
        <span class="title-placeholder">Title</span>
        <small class="error-message" v-show="newsFormObject.title.error">{{
          newsFormObject.title.error
        }}</small>
      </div>
      <div class="news-input-field">
        <div
          class="news-upload-thumbnail-wrapper"
          :class="{ invalid: newsFormObject.image.hasError }"
        >
          <input
            ref="thumbUpload"
            type="file"
            name="image"
            class="news-form-thumbnail-upload"
            accept="image/x-png,image/gif,image/jpeg"
            @change="inputHandler"
          />
          <div class="news-image-preview">
            <img
              v-show="newsFormObject.image.value"
              :src="newsFormObject.image.value"
              alt="image-preview"
            />
          </div>
          <div class="news-btn-upload-wrapper">
            <base-button
              type="button"
              class="news-btn news-btn--upload"
              mode="btn-primary"
              @click="$refs.thumbUpload.click()"
            >
              Upload Image
            </base-button>
          </div>
        </div>
        <small class="error-message" v-show="newsFormObject.image.error">{{
          newsFormObject.image.error
        }}</small>
      </div>
      <div class="news-input-field">
        <textarea
          placeholder="Content"
          class="news-form-content"
          name="content"
          id="content"
          v-model.trim="newsFormObject.content.value"
          @change="inputHandler"
          cols="30"
          rows="10"
          :class="{ invalid: newsFormObject.content.hasError }"
        ></textarea>
        <small class="error-message" v-show="newsFormObject.content.error">{{
          newsFormObject.content.error
        }}</small>
      </div>
    </form>
    <news-comments
      v-show="mode === 'edit'"
      :postId="id"
      :comments="comments"
    ></news-comments>
  </div>
</template>

<script>
import { ref } from 'vue';
import _ from 'lodash';
import { formatDate } from '../../common/utility.js';
import { checkValidity, updateObject } from '../../common/utility.js';
import NewsComments from './NewsComments.vue';

import { useQuery, useMutation, useResult } from '@vue/apollo-composable';
import postById from '../../graphql/postById.query.gql';
import addPostQuery from '../../graphql/addPost.query.gql';
import updatePostQuery from '../../graphql/updatePost.query.gql';
import postsQuery from '../../graphql/addPost.query.gql';

export default {
  components: { NewsComments },
  props: ['id'],
  data() {
    return {
      newsForm: {
        title: {
          value: '',
          hasError: false,
          validation: {
            required: true,
          },
        },
        image: {
          value: '',
          hasError: false,
          validation: {
            required: true,
          },
        },
        content: {
          value: '',
          hasError: false,
          validation: {
            required: true,
          },
        },
      },
      errors: [],
      formIsValid: true,
      mode: '',
      cancelForm: false,
    };
  },
  mounted() {
    if (this.id) {
      this.mode = 'edit';
    } else {
      this.mode = 'add';
    }
    this.scrollToTop();
  },
  setup(props) {
    const fetchPolicy = ref('cache-and-network');

    // get post detail
    const { result, error } = useQuery(postById, () => ({
      id: +props.id,
      fetchPolicy: fetchPolicy.value,
    }));

    const post = useResult(result, null, (data) => data.post);

    // add post
    const { mutate: addPost } = useMutation(addPostQuery);
    const { mutate: updatePost } = useMutation(updatePostQuery);
    return { post, addPost, updatePost };
  },
  computed: {
    newsId() {
      return this.post.id;
    },
    newsFormObject() {
      if (this.post) {
        for (let key in this.newsForm) {
          this.newsForm = updateObject(this.newsForm, {
            [key]: updateObject(this.newsForm[key], {
              value: this.post[key],
            }),
          });
        }
      }
      return this.newsForm;
    },
    comments() {
      if (this.post) {
        return this.post.comments;
      }
    },
    publishDate() {
      return this.post
        ? formatDate(this.post.createdAt)
        : formatDate(new Date());
    },
  },
  methods: {
    scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    },
    savePost() {
      this.validateForm();
      if (!this.formIsValid) {
        return;
      }
      const { title, image, content } = this.newsForm;

      if (this.mode === 'add') {
        this.addPost({
          title: title.value,
          content: content.value,
          image: image.value,
        });
      } else {
        this.updatePost({
          id: this.newsId,
          title: title.value,
          content: content.value,
          image: image.value,
        });
      }
      this.$router.replace('/top');
    },
    cancelPost() {
      this.cancelForm = true;
    },
    inputHandler(e) {
      this.validate(e.target.name, e.target.value);
      if (e.target.name === 'image') {
        this.onUploadThumbnail(e);
      }
    },
    updateFormValues(target, value, hasErrorMessage, message) {
      this.newsFormObject = updateObject(this.newsFormObject, {
        [target]: updateObject(this.newsFormObject[target], {
          value: value,
          hasError: hasErrorMessage,
          error: message,
        }),
      });
    },
    validateForm() {
      for (let key in this.newsFormObject) {
        this.validate(key, this.newsFormObject[key].value);
      }
    },
    validate(target, value) {
      const { isValid, errorMessage } = checkValidity(
        target,
        value,
        this.newsForm[target].validation
      );
      let hasErrorMessage = !isValid && errorMessage.length > 0;
      let message = errorMessage[0] ? errorMessage[0] : '';

      this.formIsValid = isValid;
      this.updateFormValues(target, value, hasErrorMessage, message);
    },
    onUploadThumbnail(e) {
      const file = e.target.files;
      if (file.length) {
        const promise = new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsDataURL(file[0]);
          reader.onload = () => {
            if (!!reader.result) {
              resolve(reader.result);
            } else {
              reject(Error('Failed to convert file to base64'));
            }
          };
        });
        promise.then((result) => {
          this.newsForm.image.value = result;
        });
      }
    },
    cancelDiscard() {
      this.cancelForm = false;
    },
  },
};
</script>

<style lang="scss">
.news-form {
  font-family: $page-font-family-primary;
}
.news-input-field {
  margin-bottom: 16px;
  position: relative;
  input {
    font-weight: bold;
    color: $base-font-color;
  }
  &:last-child {
    margin-bottom: 153px;
  }
}
.news-form-btn-group {
  text-align: right;
  margin-top: 60px;
  font-family: $page-font-family-secondary;
}
.news-btn {
  &:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in;
  }
  &--save {
    margin-right: 50px;
  }
}
input.news-form-publish-date {
  font-weight: 500;
}
.news-form-publish-date {
  margin-top: 27px;
  letter-spacing: 0.2em;
  font-family: $page-font-family-secondary;
  font-size: $pc-font-semi-m;
  outline: none;
}
.news-form-title {
  font-size: $pc-font-m;
  height: 150px;
  width: 100%;
  border: $form-border;
  box-sizing: border-box;
  padding: 10px;
  color: rgba(16, 16, 16, 0.5);
  letter-spacing: 0.2em;
  line-height: 1.5;
  margin-bottom: 14px;
  &:focus {
    outline: none;
  }
}
.title-placeholder {
  position: absolute;
  left: 15px;
  top: 13px;
  font-family: $page-font-family-primary-medium;
  font-size: 40px;
  font-weight: 600;
  color: $base-background-color-disable;
  letter-spacing: 0.14em;
}
.news-form-title:focus ~ .title-placeholder,
.news-form-title:valid ~ .title-placeholder {
  display: none;
}

.news-image-preview {
  background: $section-background-secondary-color;
  width: 100%;
  height: 540px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transition-timing-function: linear;
}
.news-image-preview img {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  max-width: 100%;
}
.news-form-thumbnail-upload {
  display: none;
}
.news-upload-thumbnail-wrapper {
  height: 540px;
  width: 100%;
  background: $section-background-secondary-color;
  position: relative;
  margin-bottom: 35px;
}
.news-btn-upload-wrapper {
  width: 260px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.news-form-content {
  height: 394px;
  width: 100%;
  border: $form-border;
  box-sizing: border-box;
  padding: 20px 25px;
  font-size: $pc-font-s;
  color: $base-background-color-secondary;
  &:focus {
    outline: none;
  }
}
.invalid {
  border: 1px solid $color-invalid;
}
.error-message {
  color: $color-invalid;
  text-transform: uppercase;
}
.news-form-dialog-btn-grp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.btn-ok-wrapper {
  width: 150px;
  margin-right: 10px;
}
.news-form-btn {
  height: 50px !important;
  cursor: pointer;
  &--cancel {
    padding-top: 20px;
    text-decoration: underline;
  }
  &:hover {
    opacity: 0.8;
    transition: all 0.2s ease-in;
  }
}
</style>
