<template>
  <div v-if="comments">
    <comment-item :comments="comment"></comment-item>
    <comment-form @save-comment="saveComment"></comment-form>
  </div>
</template>

<script>
import CommentItem from './../../components/comments/CommentItem.vue';
import CommentForm from './../../components/comments/CommentForm.vue';

import { useMutation } from '@vue/apollo-composable';
import postByIdQuery from '../../graphql/postById.query.gql';
import addCommentQuery from '../../graphql/addComment.query.gql';

export default {
  components: { CommentItem, CommentForm },
  props: ['postId', 'comments'],
  setup(props) {
    // add comment
    const { mutate: addComment } = useMutation(addCommentQuery, () => ({
      update: (cache, { data: { addComment } }) => {
        const data = cache.readQuery({
          query: postByIdQuery,
          variables: {
            id: +props.postId,
          },
        });
        let newComment = _.concat(data.post.comments, addComment);
        cache.writeQuery({
          query: postByIdQuery,
          variables: {
            id: +props.postId,
          },
          data: { 
            post: [...data.post.comments, ...newComment],
          },
        });
      },
    }));
    return {
      addComment,
    };
  },

  computed: {
    comment() {
      return this.comments;
    },
  },
  methods: {
    saveComment(comment) {
      this.addComment({ postId: +this.postId, content: comment.comment });
      const el = document.getElementById('comments');
      el.scrollIntoView({ behavior: 'smooth' });
    },
  },
};
</script>
