<template>
  <div v-if="post">
    <base-breadcrumbs>
      <li><router-link to="/">Home</router-link></li>
      <li>{{ this.title }}</li>
    </base-breadcrumbs>
    <div class="l-container news-detail">
      <div class="news-container-header">
        <base-button v-show="isLoggedIn" link :to="newsEditLink" mode="btn-link" type="button"
          >Edit Post</base-button
        >
      </div>
      <div class="news-detail-publish-date">{{ this.publishDate }}</div>
      <h3 class="news-detail-title">{{ this.title }}</h3>
      <div class="news-detail-thumbnail">
        <img :src="thumbnail" alt="news-thumb" />
      </div>
      <p class="news-detail-content">{{ this.content }}</p>
      <div class="new-detail-hr"></div>
      <news-comments id="comments" :postId="id" :comments="comments"></news-comments>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';
import {formatDate} from '../../common/utility.js'
import NewsComments from './NewsComments.vue';

import { useQuery, useResult} from '@vue/apollo-composable';
import postById from '../../graphql/postById.query.gql';
import _ from 'lodash';

export default {
  components: { NewsComments },
  props: ['id'],
  data() {
    return {
      news: {},
    };
  },
  mounted() {
    this.scrollToTop();
  },
  setup(props) {
    const fetchPolicy = ref('cache-and-network');
    // get post detail
    const {result, error} = useQuery(postById, () => ({
      id: +props.id,
      fetchPolicy: fetchPolicy.value,
    }));

    const post = useResult(result, null, (data) => data.post);
   return {post};
  },
  computed: {
    newsId() {
      return this.post.id;
    },
    title() {
      return this.post.title;
    },
    thumbnail() {
      return this.post.image;
    },
    publishDate() {
      return formatDate(this.post.createdAt);
    },
    content() {
      return this.post.content;
    },
    comments() {
      return this.post.comments;
    },
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    },
    newsEditLink() {
      return `/news/edit/${this.newsId}`;
    },
  },
  methods: {
    scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    },
  },
};
</script>

<style lang="scss">
.news-detail-publish-date {
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.2em;
  font-family: $page-font-family-secondary;
  font-size: $pc-font-semi-m;
  font-family: $page-font-family-secondary;
}

.news-detail-title {
  font-family: $page-font-family-primary-medium;
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.6;
  margin-bottom: 40px;
}

.news-detail-thumbnail {
  background-color: #d6d6d6;
  width: 100%;
  height: 666px;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s ease-in;
  flex-shrink: 0;
  max-width: 100%;
  margin-bottom: 50px;
}

.news-detail-content {
  font-family: $page-font-family-primary;
  font-size: $pc-font-s;
  line-height: 2.3em;
  margin-bottom: 123px;
}

.new-detail-hr {
  border-bottom: 1px solid $base-font-color;
}

.news-container-header {
  text-align: right;
  margin-top: 60px;
  margin-right: 3px;
}
</style>
