@mixin custom-font-size($size) {
  font-size: $size;
}

@mixin section-title {
  font-family: $page-font-family-primary;
  font-size: $pc-font-l;
  padding: 75px 0;
  text-align: center;
  width: 100%;
  letter-spacing: 0.04em;
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: $sp-font-l;
  }
}

@mixin form-input($width, $padding, $margin) {
  border: 2px solid $base-background-color-ternary;
  background-color: $base-background-color;
  font-size: $pc-font-s;
  letter-spacing: 0.05em;
  width: $width;
  padding: $padding;
  margin: $margin;
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: $sp-font-xs;
  }
}

@mixin border-bottom($width, $height, $color, $top) {
  content: '';
  display: block;
  width: $width;
  height: $height;
  background: $color;
  margin-top: $top;
}

@mixin arrow-select {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0;
  border-color: $base-background-color-ternary transparent transparent;
  position: absolute;
  right: 12%;
  top: 35%;
  margin-top: -3px;
  z-index: 10;
}

@mixin overlay-background {
  content: "";
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  bottom:  0;
  top: 0;
  background-image: linear-gradient(to bottom, rgba(74, 74, 74, 0.3), rgba(19, 19, 19, 0.3));
}

$nthChild: (2, 3, 4);
$nthChildLength: length($nthChild);
$bg: ($base-graph-color-primary, $base-graph-color-secondary, $base-graph-color-ternary);

@function item($item) {
  @return nth($nthChild, $item);
}

@mixin after() {
  @for $i from 1 through $nthChildLength  {
    &:nth-child( #{item($i)} ) {
      @for $j from 1 through length($bg) {
        &::after {
          $color: nth($bg, $i);
          background:$color;
        }
      }
    }
  }
}

@mixin before() {
  @for $i from 1 through $nthChildLength  {
    &:nth-child( #{item($i)} ) {
      @for $j from 1 through length($bg) {
        &::before {
          $color: nth($bg, $i);
          background:$color;
        }
      }
    }
  }
}
