//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;
//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;
$base-font-family: "游ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", YuGothicMedium, sans-serif;
$base-font-size: 16px;
$base-font-color: #101010;
$base-font-color-secondary: #fff;
$base-background-color: #fff;
$base-background-color-secondary: #101010;
$base-background-color-ternary: #292929;
$base-background-color-accent: #F5F5F5;
$base-background-color-disable: #949494;
$color-invalid: red;
//$color-primary
//$color-accent
$breakpoint-tablet: 1279px;
$breakpoint-mobile: 768px;
$pc-font-xs: 16px;
$pc-font-s: 18px;
$pc-font-semi-m: 20px;
$pc-font-m: 30px;
$pc-font-semi-l: 50px;
$pc-font-l: 60px;
$pc-font-xl: 160px;
$sp-font-s: 15px;
$sp-font-m: 20px;
$sp-font-l: 30px;
$sp-font-xl: 40px;
$page-font-family-primary: 'YuGothic', sans-serif;
$page-font-family-primary-light: 'YuGothic-Light', sans-serif;
$page-font-family-primary-medium: 'YuGothic-Medium', sans-serif;
$page-font-family-secondary: 'Montserrat', sans-serif;
$container-max-width: 1400px;
$container-width: 1080px;
$container-height: 100%;
$section-gradient-background: linear-gradient(to top, #c3bbb8 0%, #97918e 100%);
$section-background-color: #f6f6f6;
$section-background-secondary-color: #d6d6d6;
$bg-overlay: rgba(19, 19, 19, 0.5);
$base-graph-color-primary: #5abb47;
$base-graph-color-secondary: #18ab52;
$base-graph-color-ternary: #1c9fa3;
$form-border: 1px solid #707070;
