@charset "utf-8";

@font-face {
  font-family: 'YuGothic';
  src: url('./assets/fonts/yugothic.ttf') format('truetype');
}

@font-face {
  font-family: 'YuGothic-Light';
  src: url('./assets/fonts/yugothil.ttf') format('truetype');
}

@font-face {
  font-family: 'YuGothic-Medium';
  src: url('./assets/fonts/yugothib.ttf') format('truetype');
}

@import 'setting';
@import 'base/sanitize';
@import 'base/mixin';
@import "base/placeholders";
@import 'base/base';

@import "lib/media-queries";
@import "lib/clearfix";
@import 'lib/flex';
// @import 'sprites/icon';

// components


@import 'layout/grid';
@import 'layout/layout';
