<template>
  <div>
    <the-header></the-header>
    <section class="auth-form" :class="{ showAuthForm: isToggleAuthForm }">
      <auth-form></auth-form>
    </section>
    <router-view v-slot="slotProps">
      <transition name="route" mode="out-in">
        <component :is="slotProps.Component"></component>
      </transition>
    </router-view>
    <the-footer></the-footer>
  </div>
</template>

<script>
import TheHeader from './components/layouts/TheHeader.vue';
import TheFooter from './components/layouts/TheFooter.vue';
import AuthForm from './pages/auth/AuthForm.vue';

export default {
  components: {
    TheHeader,
    TheFooter,
    AuthForm,
  },
  computed: {
    isToggleAuthForm() {
      return this.$store.getters['isToggleAuthForm'];
    },
    didAutoLogout() {
      return this.$store.getters.didAutoLogout;
    },
  },
  created() {
    this.$store.dispatch('tryLogin');
  },
  watch: {
    didAutoLogout(curValue, oldValue) {
      if (curValue && curValue !== oldValue) {
        this.$router.replace('/top');
      }
    },
  },
};
</script>

<style lang="scss">
@import 'assets/sass/style';
.route-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}
.route-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.route-enter-active {
  transition: all 0.3s ease-out;
}

.route-leave-active {
  transition: all 0.3s ease-in;
}

.route-enter-to,
.route-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.auth-form {
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
}

.showAuthForm {
  max-height: 700px;
  transform: scaleY(1);
}
</style>
