<template>
  <div class="auth">
    <h2 class="form-title">{{ authFormTitle }}</h2>
    <base-message v-if="sendMessage" :mode="error">{{
      sendMessage
    }}</base-message>
    <form @submit.prevent="submitForm">
      <div class="input-group">
        <label for="email" class="form-label">Email</label>
        <input
          v-on:change="inputHandler($event)"
          name="email"
          id="email"
          :class="{ invalidBorder: authForm.email.hasError }"
          v-model="email"
          class="input"
          type="email"
        />
        <small v-show="authForm.email.hasError" class="error-message">{{
          authForm.email.error
        }}</small>
      </div>
      <div class="input-group">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          id="password"
          v-on:change="inputHandler($event)"
          v-model="password"
          :class="{ invalidBorder: authForm.password.hasError }"
          class="input"
          type="password"
          autocomplete
        />
        <small v-show="authForm.password.hasError" class="error-message">{{
          authForm.password.error
        }}</small>
      </div>
      <div class="input-group" v-show="isSignUp">
        <label for="confirm_password" class="form-label"
          >Confirm Password</label
        >
        <input
          name="confirm_password"
          id="confirm_password"
          v-model="confirm_password"
          v-on:change="inputHandler($event)"
          :class="{ invalidBorder: authForm.confirm_password.hasError }"
          class="input"
          type="password"
          autocomplete
        />
        <small
          v-show="authForm.confirm_password.hasError"
          class="error-message"
          >{{ authForm.confirm_password.error }}</small
        >
      </div>
      <base-button mode="btn-primary">{{ authFormTitle }}</base-button>
      <div class="auth-switch-form">
        {{ switchAuthFormTo.message }}
        <base-button
          type="button"
          mode="btn-secondary"
          :switchLink="true"
          @click="switchAuthForm"
          >{{ switchAuthFormTo.label }}</base-button
        >
      </div>
    </form>
  </div>
</template>
<script>
import { checkValidity, updateObject } from '../../common/utility.js';
import { useMutation } from '@vue/apollo-composable';
import { ref } from 'vue';
import loginQuery from '../../graphql/login.query.gql';
import registerQuery from '../../graphql/register.query.gql';
import { useStore } from 'vuex';
import { useRouter, useRoute } from 'vue-router';
export default {
  data() {
    return {
      authForm: {
        email: {
          value: '',
          hasError: false,
          validation: {
            required: true,
            isEmail: true,
          },
        },
        password: {
          value: '',
          hasError: false,
          validation: {
            required: true,
            minLength: 6,
          },
        },
        confirm_password: {
          value: '',
          hasError: false,
          validation: {
            required: true,
            minLength: 6,
          },
        },
      },
      errors: [],
      isSignUp: false,
      isFormSubmit: false,
      formIsValid: true,
      requestFail: false,
    };
  },
  watch: {
    isToggleAuthForm() {
      this.clearAll();
    },
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    const route = useRoute();

    const email = ref('');
    const password = ref('');
    const confirm_password = ref('');
    const sendMessage = ref('');
    const error = ref(false);

    const clearAll = () => {
      email.value = '';
      password.value = '';
      sendMessage.value = '';
      error.value = false;
    };

    const clearMessage = () => {
      setTimeout(() => {
        sendMessage.value = '';
        error.value = false;
      }, 2000);
    };

    const { mutate: login, onDone } = useMutation(loginQuery, () => ({
      variables: {
        email: email.value,
        password: password.value,
      },
    }));

    const {
      mutate: register,
      onDone: onDoneRegister,
      onError: onErrorRegister,
    } = useMutation(registerQuery, () => ({
      variables: {
        email: email.value,
        password: password.value,
      },
    }));

    onDone((result) => {
      localStorage.setItem('token', result.data.authenticate);
      localStorage.setItem('tokenExpiration',  new Date().getTime() + 10000)
      clearMessage();
      if (result.data.authenticate !== '') {
        const redirectUrl = '/' + (route.query.redirect || 'top');
        router.replace(redirectUrl);
        location.reload();
        sendMessage.value = 'Successfully Login!';
        setTimeout(() => {
          store.dispatch('login', { token: result.data.authenticate });
          store.dispatch('toggleAuthForm');
        }, 3000);
      } else {
        error.value = true;
        sendMessage.value = 'Email or password does not match any account.';
      }
      89;
    });

    onDoneRegister((result) => {
      clearMessage();
      if (result.data.register === true) {
        error.value = false;
        store.dispatch('register');
        sendMessage.value = 'Successfully Registered!';
      }
    });

    onErrorRegister(() => {
      error.value = true;
      sendMessage.value = 'Account already exist.';
    });

    return {
      email,
      password,
      login,
      register,
      confirm_password,
      sendMessage,
      error,
      clearAll,
    };
  },
  computed: {
    isToggleAuthForm() {
      return this.$store.getters['isToggleAuthForm'];
    },
    authFormTitle() {
      return !this.isSignUp ? 'Login' : 'Register';
    },
    switchAuthFormTo() {
      const buttonConfig = {
        login: {
          message: 'Already have an account?',
          label: 'Login Here',
        },
        register: {
          message: 'No account yet?',
          label: 'Register Here',
        },
      };
      return buttonConfig[this.isSignUp ? 'login' : 'register'];
    },
  },
  methods: {
    inputHandler($e) {
      this.validate($e.target.name, $e.target.value);
    },
    switchAuthForm() {
      this.isSignUp = !this.isSignUp;
      this.resetForm();
      this.clearAll();
    },
    resetForm() {
      for (const key in this.authForm) {
        this.updateFormValues(key, '', false, []);
      }
      this.sendMessage = '';
      this.email = '';
      this.password = '';
      this.confirm_password = '';
    },
    updateFormValues(target, value, hasErrorMessage, message) {
      this.authForm = updateObject(this.authForm, {
        [target]: updateObject(this.authForm[target], {
          value: value,
          hasError: hasErrorMessage,
          error: message,
        }),
      });
    },
    validate(target, value) {
      if (this.isSignUp || this.isFormSubmit) {
        const { isValid, errorMessage } = checkValidity(
          target,
          value,
          this.authForm[target].validation
        );

        let hasErrorMessage = !isValid && errorMessage.length > 0;
        let message = errorMessage[0] ? errorMessage[0] : [];

        if (
          this.isSignUp &&
          target === 'confirm_password' &&
          this.authForm.password.value !== value
        ) {
          hasErrorMessage = true;
          message = 'Confirmation password does not match with password field.';
        }

        this.formIsValid = isValid;
        this.updateFormValues(target, value, hasErrorMessage, message);
      }
    },
    validateForm() {
      for (let key in this.authForm) {
        this.validate(key, this.authForm[key].value);
      }
    },
    submitForm() {
      this.isFormSubmit = true;

      if (this.email === '' && this.password === '') {
        this.validateForm();
      }

      if (!this.formIsValid) {
        return;
      }

      if (!this.isSignUp) {
        this.login();
      } else {
        this.register();
        setTimeout(() => {
          if (!this.error) {
            this.switchAuthForm();
          }
        }, 2000);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.auth {
  font-family: $page-font-family-secondary;
  margin: 75px auto;
  width: 460px;
  height: 730px;
  box-sizing: border-box;
  transition: all 0.4s ease-in;
}

.input-group {
  display: block;
  font-size: $pc-font-s;
  margin-bottom: 5px;
  label {
    line-height: 1.9;
    letter-spacing: 0.1em;
  }
}

.form-title {
  font-size: $pc-font-m;
  font-weight: bold;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

.auth-switch-form {
  text-align: center;
  margin: 36px 0;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.invalid {
  color: $color-invalid;
}

.error-message {
  color: $color-invalid;
  text-transform: uppercase;
}

.invalidBorder {
  border: 1px solid $color-invalid !important;
}

.input {
  height: 60px;
  width: 100%;
  border: 1px solid $base-background-color-secondary;
  margin-bottom: 8px;
  box-sizing: border-box;
  font-size: $pc-font-s;
  padding-left: 10px;

  &--invalid {
    border: 1px solid $color-invalid;
  }
}
.btn-primary {
  margin-top: 7px;
}
</style>
